#Credentials
SSH_USER=user
SSH_PASS=password


#Hosts
SSH_HOST_DEBIAN=0.0.0.0
SSH_HOST_PBS=0.0.0.0
SSH_HOST_OPNSENSE=0.0.0.0
SSH_HOST_HAOS=0.0.0.0


#Per-host credential overrides: `SSH_USER_PBS`, `SSH_PASS_PBS`, etc.
SSH_USER_PBS=user
SSH_PASS_PBS=password

SSH_USER_OPNSENSE=user
SSH_PASS_OPNSENSE=password

#Others
BROWSERLESS_URL=http://localhost:3000

OPNSENSE_HOST=0.0.0.0
OPNSENSE_KEY=your_api_key
OPNSENSE_SECRET=your_api_secret

HA_HOST=0.0.0.0
HA_TOKEN=your_long_lived_token

